.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    gap: var(--auro-size-xs);
  }

@media screen and (min-width: 575px) {
	.auto-grid {
		gap: var(--auro-size-sm);
	}
}

@media screen and (min-width: 768px) {
	.auto-grid {
		gap: var(--auro-size-md);
	}
}

@media screen and (min-width: 1024px) {
	.auto-grid {
		gap: var(--auro-size-lg);
	}
}

@media screen and (min-width: 1232px) {
	.auto-grid {
		gap: var(--auro-size-xl);
	}
}
